<!--
 * @Author: Lucifer
 * @Date: 2022-03-13 16:14:09
 * @LastEditTime: 2022-04-03 10:05:25
 * @FilePath: \yiyanyun\app\admin\view\proclone.html
-->
{include file='public/header'/}
<main class="lyear-layout-content">

    <div class="container-fluid p-t-15">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">克隆向导</div>
                    </div>
                    <div class="card-body">
                        <p>尊敬的用户您好，当前功能因为某一些原因暂未对外开放，如需使用或了解更多请加入内测，内测有更多的更能，但不建议您把内测视为正版！！！</p>
                        <p>项目克隆是什么功能？ 答：可以通过特定的key和域名进行跨服务器，跨域名等从其他站点克隆项目过来，后期或许会新增跨服务器，跨域名代理功能，敬请期待！！</p>
                    </div>
                </div>
            </div>

        </div>

</main>


{include file='public/footer'/}
