<!--
 * @Author: Lucifer
 * @Date: 2022-03-15 14:36:03
 * @LastEditTime: 2022-03-26 19:48:50
 * @FilePath: \yiyanyun\app\admin\view\update.html
-->
{include file='public/header'/}
<main class="lyear-layout-content">

    <div class="container-fluid p-t-15">

        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <header class="card-header">
                        <div class="card-title">云端版本列表</div>
                    </header>
                    <div class="card-body">

                        <p>如您一直想保持最新系统版本请您关注本链接：<a href="https://gitee.com/yiyanyun/community">https://gitee.com/yiyanyun/community</a>，我们有任何信息都将以发放到此地方。感谢您的关注！！！</p>
                    </div>
                </div>
            </div>


        </div>

    </div>

</main>

{include file='public/footer'/}