<!--
 * @Author       : Lucifer
 * @Date         : 2022-04-01 19:41:36
 * @LastEditTime : 2022-06-02 12:00:19
 * @FilePath     : \yiyanyun1.2\app\index\view\index\index.html
-->
<!--
 * @Author: Lucifer
 * @Date: 2022-03-17 11:33:29
 * @LastEditTime: 2022-04-01 19:41:35
 * @FilePath: \yiyanyun\app\index\view\index\index.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1>Hello</h1>
</body>
</html>